{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{%block styles%}
<link rel="stylesheet" href="/static/bootstrap.min.css">
{%endblock%}

{%block scripts%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
{%endblock%}

{%block navbar%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('dashboard', name=name, login_status=login_status)}}">Website Name</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class = "nav-time">
          <a class="nav-link" href="{{url_for('dashboard')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('playerlist')}}">Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" style="right:10px">
      {{name}}
    </button>
    <ul class="dropdown-menu dropdown-menu-lg-end">
        <a href="{{url_for('login')}}" class="btn btn-primary dropdown-item">Login</a>
        <a href="{{url_for('signup')}}" class="btn btn-primary dropdown-item">Signup</a>
    </ul>
  </div>
</nav>
{%endblock%}

{% block content %}
<br>
<br>
<br>
<p class="text-center font-monospace">Website Name</p>
<h1 class="text-center font-monospace">Login</h1>
<div class="container">
    <form method="POST" action="/login">
       {{ wtf.quick_form(form)}}
    </form>
</div>
<div class = "d-flex justify-content-center">
  <p>No account?</p>
</div>
<p><a href="{{url_for('signup')}}" class="link-primary d-flex justify-content-center lh-1">Sign Up</a></p>

{% endblock %}